<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!--Start : Header    -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/products}"> Manager Products</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
    </div>
</nav>
<!--End : Header    -->
<div class="container">
    <div class="row">
        <h1> Products </h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/products/add-new}" class="btn btn-primary btn-sm mb-3"> Add </a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tbody>
        <tr th:each = "product: ${products}">
            <td th:text="${product.code}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="'$'+${product.price}"></td>
            <td>
                <a th:href="@{/products/update/{id}(id=${product.id})}"
                   class="btn btn-primary">Update</a>

                <a th:href="@{/products/{id}(id=${product.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
</body>
</html>